body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #512b6b;
    color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
}

.pick_up_table {
    width: 100%;
    max-width: 100%;
}

table th {
    padding: 10px;
}

h2 {
    font-size: 24px;
}

p {
    margin: 0;
}

h6 {
    font-size: 10px;
}